* {
  padding: 0;
  margin: 0;
}
.container {
  background-image: url(animation-img/background3.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
#charactor {
  position: absolute;
  bottom: 5%;
  height: 350px;
  left: 20px;
}
