* {
  padding: 0;
  margin: 0;
}
.container {
  background-image: url(animation-img/background3.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
#charactor {
  position: absolute;
  bottom: 5%;
  height: 30%;
  left: 20px;
  animation-name: roll;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: unset;
  animation-delay: 0.3s;
}

@keyframes roll {
  0% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(1000px);
  }
}
