* {
  padding: 0;
  margin: 0;
}
.container {
  background-image: url(animation-img/background5.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
#charactor {
  position: absolute;
  bottom: 80px;
  height: 330px;
  left: 0px;
}
